<div class="modal-dialog modals-default">
	<div class="modal-content">
		<div class="modal-header">
			Eliminación de {{ object }}
			<button class="close" type="button" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body text-center">{% csrf_token %}
			<h3><strong>¿Desea eliminar {{ object }} ?</strong></h3>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" type="button" data-align="right" onclick="eliminar({{ object.pk }});"><strong>Confirmar Eliminación</strong></button>
			<button class="btn btn-primary" data-dismiss="modal" type="button"><strong>Cancelar</strong></button>
		</div>
	</div>
</div>